.social-community-popup-settings { }
	.social-community-popup-settings table {width:70%;}
	.social-community-popup-settings table tbody th {width:45%;}
	.social-community-popup-settings table input[type=text] {width:350px;}
	.social-community-popup-settings .copyright {text-align:right;font-size:small;}

#scp-sortable {width:50%;margin-top:0;}
#scp-sortable li {padding:5px 10px;}
#scp-sortable .disabled {color:#d00;}

#scp_welcome_screen div.box {display:none;}
	#scp_welcome_screen div.box.visible {display:block;}

#scp_welcome_screen ul.tabs {}
	#scp_welcome_screen ul.tabs li {
		display:inline-block;
		padding:10px 15px;
		font-size:120%;
		cursor:pointer;
		border:1px solid #999;
	}
	#scp_welcome_screen ul.tabs li.current {
		font-weight:bold;
		background-color:#C6F58A;
	}

#scp_welcome_screen .box ul {list-style-type:disc;margin-left:10px;}
#scp_welcome_screen .box ul li {margin-left:15px;}

.scp-background-image img {width:350px !important;height:350px !important;margin:10px 0 0 0;}
