#social-community-popup {
	height: 100%;
	width: 100%;
	display:none;
}

	#social-community-popup .parent_popup {
		height: 100% !important;
		position: fixed;
		width: 100% !important;
		z-index: 99999;
		top: 0;
		left: 0;
	}

	#social-community-popup #popup {
		background-color: #fff;
		z-index:99999;
		left:0;
		right:0;
		top:0;
		bottom:0;
		position:fixed;
		margin:auto;
	}

		#social-community-popup #popup a.close-outside.close {
			font:bold normal 20px/20px Arial;
			position:absolute;
			display:block;
			text-align:center;
			color:#fefefe !important;
			text-shadow:none;
			opacity:1;
			text-decoration:none;
			vertical-align:middle;
			height:20px;
			width:20px;
			top:-20px;
			right:-20px;
		}

	#social-community-popup .section {
		overflow:hidden;
		display:block;
		margin:10px auto;
		padding:0 !important;
	}

		/* Кнопка закрытия окна в заголовке окна */
		#social-community-popup .top-close .close {
			position:absolute;
			top:10px;
			right:0;
			width:30px;
			height:23px;
			vertical-align:top;
			text-align:center;
			cursor:pointer;
			font:normal normal 14pt/16pt Arial !important;
			text-shadow:none;
			color:#333;
		}

		#social-community-popup .plugin-title {
			display:block;
			padding-bottom:12px;
			width:98%;
			margin:0 auto;
			font:normal normal 12pt/14pt Arial;
			color:#666;
		}

			#social-community-popup .plugin-title p {
				margin:0;
				padding:0;
			}

		#social-community-popup .section .tabs {
			list-style:none;
			margin:0 0 15px 0 !important;
			padding:0;
		}
			#social-community-popup .section .tabs li {
				display:inline-block;
				margin:0 8px 0 0;
				padding:0;
				cursor:pointer;
				text-align:center;
				font:normal normal 11pt/13pt Arial;
				color:#111 !important;
			}
			#social-community-popup .section .tabs li span {
				border-bottom:1px dashed;
				font-size:125%;
			}
			#social-community-popup .section .tabs li:hover span,
			#social-community-popup .section .tabs li.current span {
				border-bottom:1px dashed #fff; 
			}
			#social-community-popup .section .tabs .current {color:#c00 !important;font-weight:bold;}

			/* Кнопка закрытия окна */
			#social-community-popup .section .tabs li.last-item {float:right;}
				#social-community-popup .section .tabs li.last-item span {border:0;
					display:block;
					width:16px;
					cursor:pointer;
					font:normal normal 14pt/16pt Arial !important;
					text-shadow:none;
					color:#333;
					opacity:1;
					padding-top:3px;
				}

		#social-community-popup .box { display: none; clear:left; }
		#social-community-popup .box.visible { display: block; }
		#social-community-popup .box p {
			font:normal normal 11pt/13pt Arial;
			margin:0 0 10px 0;
			padding:0;
		}

	#social-community-popup .dont-show-widget {
		display:none;
		text-align:center;
		margin-bottom:3px;
	}
		#social-community-popup .dont-show-widget a,
		#social-community-popup .dont-show-widget a:link,
		#social-community-popup .dont-show-widget a:active,
		#social-community-popup .dont-show-widget a:visited {
			font:normal normal 10pt/10pt Arial;
			float:none !important;
			text-shadow:none;
			opacity:1;
			text-decoration:none;
		}

		#social-community-popup .dont-show-widget.scp-button a {
			padding:5px 10px;
			border-radius:3px;
			color:#ddd !important;
		}

		#social-community-popup .dont-show-widget.scp-green-button a,
		#social-community-popup .dont-show-widget.scp-green-button a:link,
		#social-community-popup .dont-show-widget.scp-green-button a:active,
		#social-community-popup .dont-show-widget.scp-green.button a:visited {
			background-color:#8c8;
			color:#111 !important;
		}

		#social-community-popup .dont-show-widget.scp-red-button a,
		#social-community-popup .dont-show-widget.scp-red-button a:link,
		#social-community-popup .dont-show-widget.scp-red-button a:active,
		#social-community-popup .dont-show-widget.scp-red.button a:visited {
			background-color:#f99;
			color:#111 !important;
		}

		#social-community-popup .dont-show-widget.scp-blue-button a,
		#social-community-popup .dont-show-widget.scp-blue-button a:link,
		#social-community-popup .dont-show-widget.scp-blue-button a:active,
		#social-community-popup .dont-show-widget.scp-blue.button a:visited {
			background-color:#77e;
			color:#fff !important;
		}


	#social-community-popup .widget-description {color:#333 !important;}
		#social-community-popup .widget-description img {border:0 !important;margin:0;}
