#social-community-popup {
	height: 100%;
	width: 100%;
	display:none;
}

	#social-community-popup .parent_popup {
		background: #000 !important;
		height: 100% !important;
		opacity: 0.8;
		position: fixed;
		width: 100% !important;
		z-index: 99999;
		top: 0;
		left: 0;
	}

	#social-community-popup #popup {
		background-color: #fff;
		z-index:99999;
		left:0;
		right:0;
		top:0;
		bottom:0;
		position:fixed;
		margin:auto;
	}

	#social-community-popup .section {
		position:relative;
		overflow:hidden;
		display:block;
		margin:10px auto;
		padding:0 !important;
	}

		#social-community-popup .plugin-title {
			display:block;
		}

			#social-community-popup .plugin-title .close {
				float:right;
				width:25px;
				height:23px;
				vertical-align:top;
				text-align:center;
				cursor:pointer;
			}

		#social-community-popup .section .tabs {
			list-style:none;
			margin:10px 0 15px 0 !important;
			padding:0;
		}
			#social-community-popup .section .tabs li {
				display:inline-block;
				margin:0 8px 0 0;
				padding:0;
				cursor:pointer;
				text-align:center;
				font:normal normal 11pt/13pt Arial;
				color:#111 !important;
			}
			#social-community-popup .section .tabs li span {
				border-bottom:1px dashed;
				font-size:125%;
			}
			#social-community-popup .section .tabs li:hover span,
			#social-community-popup .section .tabs li.current span {
				border-bottom:1px dashed #fff; 
			}
			#social-community-popup .section .tabs .current {color:#c00 !important;font-weight:bold;}

			/* Кнопка закрытия окна */
			#social-community-popup .section .tabs li.last-item {float:right;}
				#social-community-popup .section .tabs li.last-item span {border:0;
					display:block;
					width:16px;
					cursor:pointer;
					font:normal normal 14pt/16pt Arial !important;
					text-shadow:none;
					color:#333;
					opacity:1;
					padding-top:3px;
				}

		#social-community-popup .box { display: none; }  
		#social-community-popup .box.visible { display: block; }
		#social-community-popup .box p {
			font:normal normal 11pt/13pt Arial;
			margin:0 0 10px 0;
			padding:0;
		}
	
	#social-community-popup .widget-description {color:#333 !important;}
