@import './vendor/animate.min.scss';

.social-media-popup-settings { }
	.social-media-popup-settings table {width:70%;}
	.social-media-popup-settings table tbody th {width:45%;}
	.social-media-popup-settings table input[type=text] {width:350px;}
	.social-media-popup-settings .copyright {text-align:right;font-size:small;}

#smp-sortable {width:50%;margin-top:0;}
#smp-sortable li {padding:5px 10px;}
#smp-sortable .disabled {color:#d00;}

.smp-background-image img {width:350px !important;height:350px !important;margin:10px 0 0 0;}

#smp_animation {display:block;margin-top:5px;padding:10px;background-color:#fff;border-left:4px solid #46b450}
