@import './vendor/animate.min.scss';

.social-media-popup-settings { }
	.social-media-popup-settings table {width:70%;}
	.social-media-popup-settings table tbody th {width:45%;}
	.social-media-popup-settings table input[type=text] {width:350px;}
	.social-media-popup-settings .copyright {text-align:right;font-size:small;}

#smp-sortable {width:50%;margin-top:0;}
#smp-sortable li {padding:5px 10px;}
#smp-sortable .disabled {color:#d00;}

#smp_welcome_screen div.box {display:none;}
	#smp_welcome_screen div.box.visible {display:block;}

#smp_welcome_screen ul.tabs {}
	#smp_welcome_screen ul.tabs li {
		display:inline-block;
		padding:10px 15px;
		font-size:120%;
		cursor:pointer;
		border:1px solid #999;
	}
	#smp_welcome_screen ul.tabs li.current {
		font-weight:bold;
		background-color:#C6F58A;
	}

#smp_welcome_screen .box ul {list-style-type:disc;margin-left:10px;}
#smp_welcome_screen .box ul li {margin-left:15px;}

.smp-background-image img {width:350px !important;height:350px !important;margin:10px 0 0 0;}

#smp_animation {display:block;margin-top:5px;padding:10px;background-color:#fff;border-left:4px solid #46b450}
